
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');



body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: #3a6186;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #89253e, #3a6186);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #89253e, #3a6186); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container-main{
    background-image: url(/public/images/background-1409125_960_720.webp);
    background-position:center;
    background-repeat: no-repeat;
    border-radius: 3rem;
    width: 30%;
    height: 30%;
    padding: 2rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container-sub{
    text-align: center;
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    font-weight: 300;
    color:white;
}

#result{
    font-size: 20px;
    padding: 1rem;
}


.container-angles{
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    padding: .5rem;
}

input{
 width:4rem;
 height: 2rem;
 border-radius: 2rem;
}

select{
    text-align: center;
    width: 200px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
}

button{
    width: 100px;
    height: 30px;
    border-radius: 2rem;
    margin: 1rem auto;

}

button:active{
    position: relative;
    top:10px;
}

