
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');



body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: #3a6186;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #89253e, #3a6186);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #89253e, #3a6186); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container-main{
    background-image: url(/public/images/background-1409125_960_720.webp);
    background-position:center;
    background-repeat: no-repeat;
    border-radius: 3rem;
    max-width: 100%;
    padding: 2rem 2rem 1rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.goback{
    background-image: url(/public/images/background-1409125_960_720.webp);
    width: 100px;
    height: 30px;
    color:white;
    font-family: 'Roboto', sans-serif;
}


.container-sub{
    text-align: center;
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    font-weight: 300;
    color:white;
   
}

.container-triangle{
    
   display: flex;
   justify-content: center;
    margin: 1rem auto;
    width: 100%;
    height: 200px;
    border-radius: 2rem;
    color: black;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.managetri{
    position: relative;
    top: 10px;
    right: 15px;
}

.hmanagetri{
    
    padding: 3rem;
    position: relative;
    bottom: 48px;
    
}

.line{
    border: .1rem solid;
    width:150px;
}
    

.line1{
    position: relative;
    top:90px;
    left: 100px;
   transform : rotate(45deg);
}
.line2{
    position: relative;
    top:90px;
    right: 8px;
   transform : rotate(135deg);
}
.line3{
    width:210px;
    position: relative;
    top:140px;
    left: 17px;
}

.hline1{
    position: relative;
    top:90px;
    right: 50px;
    transform: rotate(90deg);
}

.hline2{
    position: relative;
    top:165px;
    left: 25px;
}

.hline3{
    position: relative;
    top:85px;
    right:6px;
    width: 215px;
    transform: rotate(45deg);

}

.aa{
    position: absolute;
    top:10px;
    left: 115px;
}
.ab{
    position: absolute;
    right: 205px;
    top:125px;
    
}
.ac{
    position: absolute;
    left: 235px;
    top:125px;
}

.ha{
    position: absolute;
    top:135px;
}

.hb{
    position: absolute;
    top:215px;
    right:158px;
}

.hc{
    position: absolute;
    top:120px;
    right:140px;
}


#result{
    font-size: 20px;
    padding: 1rem;
}


.container-angles{
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    padding: .5rem;
}
a{
    color:white;
    text-decoration: none;
}

input{
 width:4rem;
 height: 2rem;
 border-radius: 2rem;
}

select{
    text-align: center;
    border-radius: 2rem;
    max-width: 90%;
    height: 50px;
    font-family: 'Roboto', sans-serif;
}

button{
    width: 100px;
    height: 30px;
    border-radius: 2rem;
    margin: 1rem auto;

}

button:active{
    position: relative;
    top:10px;
}

